.texto {
  margin: 0 20rem;
}

.texto h1 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: var(--preto);
}

@media screen and (max-width: 768px) {
  .texto {
    margin: 0 2rem;
  }

  .texto h1 {
    font-size: 1.5rem;
  }
}